
.Navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar .logo{
width: 150px;
}
/* .logo{
width: 50px;
} */

.navbar_menu{
    display: flex;
    list-style: none;
    color: #49557E;
    gap: 20px;
    font-size: 18px;
}

.navbar_right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar_right button{
    color: #49557E;
    background-color: transparent;
    border: 1px solid tomato;
    /* border-style: dashed; */
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.navbar_right button:hover{
    color: white;
    background-color: #49557E;
}

.navbar_menu .active{
    padding-bottom: 5px;
    border-bottom: 2px solid #49557E;
}

.navbar_menu li {
    cursor: pointer;
}

.navbar_search_icon{
    position: relative;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: tomato;
    border-radius: 5px;
    position: absolute;
    top:-5px;
    right: -4px;
}